.reel-demo + .reel-hint {
  justify-content: space-between;
  line-height: var(--s-2);
}

.reel-demo.overflowing + .reel-hint {
  display: flex;
}

.reel-demo .box {
  background: #000;
  color: #000;
}
