{# Set up variant classes. #}

{# Create class array #}
{% set classes = [
  'teaser-list',
  'grid',
] %}

<div {{ attributes.addClass(classes) }}>
  <div class="teaser-list__teaser stack box">
    {% if teaser.brow_data %}
      {% include "@atoms/Brow/Brow.twig" with teaser.brow_data %}
    {% endif %}
    <div class="teaser-list__teaser-heading">
      <h3>
        {% if teaser.href %}
          {{ link(teaser.heading, teaser.href) }}
        {% else %}
          {{ teaser.heading }}
        {% endif %}
      </h3>
    </div>
    <div class="teaser-list__teaser-text">
      {{ teaser.text }}
    </div>
  </div>
  <div class="teaser-list__list box">
    <ul class="stack">
      {% for item in list_items %}
        <li>
          <div class="teaser-list__link">
            <h4>{{ link(item.link.label, item.link.href)}}</h4>
          </div>
          <div class="teaser-list__footer">
            {{ item.footer }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
