.section {
  --color: var(--color-black);
  --heading-color: var(--color-primary-dark-x);
  color: var(--color);
  padding-top: var(--s5);
  padding-bottom: var(--s5);
}

.section > * > .center {
  --align-items: center;
}

.section .section__main > * {
  width: 100%;
}

.section .section__header h1,
.section .section__header h2 {
  color: var(--heading-color);
}

.section .section__header h1.brow,
.section .section__header h2.brow {
  color: var(--accent-color);
  border-color: var(--color);
}

.section > * > * + * {
  margin-top: var(--s5);
}

/* Variants */
.section--color-primary-dark-xx {
  --color: var(--color-white);
  --accent-color: var(--color-accent-warm);
  --heading-color: var(--color-white);
  --button-fg: var(--accent-color);

  background: var(--color-primary-dark-xx);
}

.section--color-warm-dark-xx {
  --color: var(--color-white);
  --accent-color: var(--color-white);
  background: var(--color-accent-warm-dark-xx);
}

.section--color-warm-light-xx {
  --color: var(--color-black);
  --accent-color: var(--color-accent-warm-dark-x);
  background: var(--color-accent-warm-light-xx);
}

/* Drop padding when two sections of the same background are touching. */
.section--color-default + .section--color-default,
.section--color-warm-dark-x + .section--color-warm-dark-x,
.section--color-warm-dark-xx + .section--color-warm-dark-xx,
.section--color-primary-dark-xx + .section--color-primary-dark-xx {
  padding-top: 0;
}
