html {
  --font-size: 18px;
  --line-height: var(--s3);
  font-family: var(--font-secondary);
  font-size: var(--font-size, var(--s0));
  line-height: var(--line-height, var(--s3));
  font-family: var(--font-secondary);
  font-weight: 400;
  letter-spacing: .01rem;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--heading-color, inherit);
}

h1 {
  font-size: var(--s4);
  line-height: var(--s5);
}

h2 {
  font-size: var(--s3);
  line-height: var(--s4);
}

h3 {
  font-size: var(--s2);
  line-height: var(--s3);
}

h4 {
  font-size: var(--s1);
  line-height: var(--s2);
}

h5 {
  font-size: var(--s0);
  line-height: var(--s1);
}

a {
  color: var(--color-primary-light-x);
}

p {
  margin: 0;
  color: var(--color);
}

p + p {
  margin-top: var(--s0);
}

img {
  max-inline-size: 100%;
}

code {
  border: 1px solid #aaa;
  background: #eee;
  padding: var(--s-5);
  color: #000;
}

.caption {
  font-size: var(--s-1);
  line-height: var(--s0);
  padding: var(--s0) var(--s1);
}

.accent {
  color: var(--accent-color);
}
