{# This is just a layout example for the styleguide.
  Do not use this template directly. #}

<div class="cover cover-demo">
  {% if first %}
    {{ first }}
  {% endif %}
  {% if principal %}
    <div class="principal">
      {{ principal }}
    </div>
  {% endif %}
  {% if third %}
    {{ third }}
  {% endif %}
</div>
